In [ ]:
L= []
L= list()       #construtor de listas

In [13]:
dias= [3, 1, 10]

dias[0]

3

In [14]:
dias[1]

1

In [15]:
dias[2]

10

In [19]:
Z= [3,8,9]
#   0,1,2
Z[0] = 7

Z

[7, 8, 9]

In [22]:
V= [6,7,5,8,9] #conteudo
#   0,1,2,3,4
L= V #deu o mesmo nome na memoria
print(V==L) #compara conteudo
print(V is L) #compara nome
V[0]=5
print(V)
print(L)

True
True
[5, 7, 5, 8, 9]
[5, 7, 5, 8, 9]

In [23]:
a= [81, 82, 83]
b= a[:] #cria clone com fatia = sao iguais porem pode mudar individualmente  //  dois pontos sozinho pega todo o conteudo
print(a==b)
print(a is b)
b[0]= 5
print(a)
print(b)

True
False
[81, 82, 83]
[5, 82, 83]

In [28]:
uma_lista= ['a','b','c','d','e','f']
print(uma_lista[1:4])  #intervalo do 1 elemento ate o 4 exclui o 4 elemento
print(uma_lista[:4])   #dois pontos exclui oque vem depois do lado dele incluindo o numero agregado = até
print(uma_lista[3:])   # x: = ->   :x = <-
print(uma_lista[:])

['b', 'c', 'd']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [30]:
a= [1, 2, 3]
   #0,1,2
b= a[:]
b[0]= 5 
print(a[2])

3

In [45]:
#A
D= [76, 92.3, 'oi', 'true', 4, 76] 
#D[5]= ['pitomba',76]  #errado
D[5:]= 'pitomba',76
print(D)

[76, 92.3, 'oi', 'true', 4, 'pitomba', 76]

In [100]:
#A
D= [76, 92.3, 'oi', 'true', 4, 76] 
#D[5]= ['pitomba',76]  #errado
D[5:]= 'pitomba',76
print(D)

#B
p1= [76, 92.3, 'oi', 'true', 4, 76] 
p1[3:]= 'cibele',
p2= ['true', 4, 76]
P = p1 + p2
print(P)
#print(p1[:3] + ['cibele'] + p1[3:])

#C
p1= [76, 92.3, 'oi', 'true', 4, 76] 
p2= [99]
print(p2 + p1)

#D
p1= [76, 92.3, 'oi', 'true', 4, 76] 
if( p1[0] == 'oi'):
  print('o indice procurado é 0')
elif( p1[1] == 'oi'):
  print('o indice procurado é 1')
elif( p1[2] == 'oi'):
  print('o indice procurado é 2')
elif( p1[3] == 'oi'):
  print('o indice procurado é 3')
elif( p1[4] == 'oi'):
  print('o indice procurado é 4')
else:
  print('o indice procurado é 5')

#E
p1= [76, 92.3, 'oi', 'true', 4, 76] 
p2= (p1[:3] + p1[4:])
print(p2)

[76, 92.3, 'oi', 'cibele', 'true', 4, 76]

In [108]:
#C
p1= [76, 92.3, 'oi', 'true', 4, 76] 
p2= [99]
print(p2 + p1)

[99, 76, 92.3, 'oi', 'true', 4, 76]

In [110]:
#D
p1= [76, 92.3, 'oi', 'true', 4, 76] 
if( p1[0] == 'oi'):
  print('o indice procurado é 0')
elif( p1[1] == 'oi'):
  print('o indice procurado é 1')
elif( p1[2] == 'oi'):
  print('o indice procurado é 2')
elif( p1[3] == 'oi'):
  print('o indice procurado é 3')
elif( p1[4] == 'oi'):
  print('o indice procurado é 4')
else:
  print('o indice procurado é 5')

o indice procurado é 2

In [120]:
#E
p1= [76, 92.3, 'oi', 'true', 4, 76] 
p2= (p1[:3] + p1[4:])
print(p2)

[76, 92.3, 'oi', 4, 76]

In [2]:
tupla_nova = 10,20,30
tupla_nova

(10, 20, 30)

In [3]:
tupla_nova= ()
tupla_nova

()

In [4]:
tupla_nova =tuple('teste')
tupla_nova

('t', 'e', 's', 't', 'e')

In [10]:
tupla_nomes = ('Marlene','Zezinho','Marlene','Cibele','Zuely')
print(tupla_nomes.count('Marlene'))
print(tupla_nomes.count('Suely'))
print(tupla_nomes.count('Zezinho'))

tupla_numero = (1,2,2,3,4,4,4,5)
print(tupla_numero.count(4))

2
0
1
3

3